<html>
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Form Parser</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Form Parser</h1>
      <p><%= errorMessage %></p>
      <a href="/"><input id="sendBtn" value="Revenir au formulaire"></a>
    </div>
  </body>
</html>
