<html>
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Form Parser</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Form Parser</h1>
      <p>Les fichiers ont été générés. Vous pouvez les télécharger via les liens ci-dessous.</p>
      <div class="links">
        <div><p><a href="<%= urlCollabs %>" download>Fichier "collabs.csv"</a></p></div>
        <div><p><a href="<%= urlCollabsError %>" download>Fichier "collabsError.csv"</a></p></div>
        <div><p><a href="<%= urlFranchesee %>" download>Fichier "franchesee.csv"</a></p></div>
      </div>
    </div>
  </body>
</html>
