@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
    font-style: italic;
    font-weight: 600;
}

h1{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
}

p{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100;
}

body{
  margin: 0;
  padding: 0;
  background-color: #f1f3f2;
}

.links{
  padding: 20px;
  background-color: #f1f3f2;
  border: 1px solid #e4e6e5;
  font-size: 20px;
}

.links a{
  color: #8b7031;
  text-decoration: none;
}

.links a:hover{
  color: #584000;
  text-decoration: none;
}

.wrapper {
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  text-align: center;
  border: 1px solid #e4e6e5;
}

.wrapper h1 {
  float: none !important;
  line-height: 43px;
  font-size: 35px;
  color: #cfb375;
}

.wrapper input[type="file"]{
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f1f3f2;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 100;
  border: 1px solid #e4e6e5;
}

#sendBtn{
  background-color: #cfb375;
  border: 1px solid #bea264;
  font-family: "Open Sans";
  font-weight: 100;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
}

#sendBtn:hover{
  background-color: #bea264;
  cursor: pointer;
}

.wrapper select{
  margin-bottom: 15px;
}

.wrapper .content .result {
  background-color: #eee;
  margin: 30px;
  padding: 20px;
  border: 1px solid #ddd;
}
